<div class="nav-principale">
  
    
      <a [routerLink]="['/']" class="logo col-4">
        <img
          class="img-logo"
          src="../../../assets/img/logo.png"
          alt=""
          srcset=""/>
      </a>
      <div class="col-4 this"><div class="icona"><i class="bi bi-binoculars"></i></div><input type="text" class="ps-5 form-control" placeholder="Cerca"/></div>
      
      <div class="nav-link col-4 text-end">
        <div id="box" class="gradient-border"><a [routerLink]="['/profilo-utente']"><img class=" img-raimbow" src="../../../assets/img/foto-prof.jpg" alt="Foto-profilo"srcset=""/></a></div>
        
        <a  class="text-end  ms-5 pointer" (click)="mostraOpzioni()"><i class="bi bi-three-dots-vertical"></i></a>
      </div>
   
    </div>
    
    <div *ngIf="opzioni" class="opzioni text-end">
      
      <button class="btn btn-light" (click)="esci()">Logout</button>
    </div>