// .logo{
//     background-image: url('../../../assets/img/logo.png');
//     height: 150px;
//     width: 150px;
//     background-size: contain;
//     background-size: 150px, 150px;
// }
.nav-principale{
    background: rgb(164,170,193);
    background: -moz-radial-gradient(circle, rgba(164,170,193,1) 0%, rgba(230,223,223,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(164,170,193,1) 0%, rgba(230,223,223,1) 100%);
    background: radial-gradient(circle, rgba(164,170,193,1) 0%, rgba(230,223,223,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a4aac1",endColorstr="#e6dfdf",GradientType=1);
    height: 70px;
    padding: 5px;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 0px 10px 13px -7px #000000a1, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000a1, 5px 5px 15px 5px rgba(0,0,0,0);
  
    .img-logo{
        height: 50px;
        width: 35px;
    }
    .this{
        position: relative;
        .icona{
        top: 7px;
        left: 15px;
        position: absolute;
    }
    }

    #box{
        left: 85%;
        height: 100px;
        width: 100px;
        .img-raimbow{
            height: 100px;
            width: 100px;
        }
       
    }

    
}

