.opzioni{
    // background: rgb(164,170,193);
    // background: -moz-radial-gradient(circle, rgba(164,170,193,1) 0%, rgba(230,223,223,1) 100%);
    // background: -webkit-radial-gradient(circle, rgba(164,170,193,1) 0%, rgba(230,223,223,1) 100%);
    // background: radial-gradient(circle, rgba(164,170,193,1) 0%, rgba(230,223,223,1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a4aac1",endColorstr="#e6dfdf",GradientType=1);
    // width: 300px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    position: fixed;
    right: 15px;
    top: 15vh;
    -webkit-box-shadow: 0px 10px 13px -7px #000000a1, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000a1, 5px 5px 15px 5px rgba(0,0,0,0);
}
.nav-principale{
    // background: rgb(164,170,193);
    // background: -moz-radial-gradient(circle, rgba(164,170,193,1) 0%, rgba(230,223,223,1) 100%);
    // background: -webkit-radial-gradient(circle, rgba(164,170,193,1) 0%, rgba(230,223,223,1) 100%);
    // background: radial-gradient(circle, rgba(164,170,193,1) 0%, rgba(230,223,223,1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a4aac1",endColorstr="#e6dfdf",GradientType=1);
    background: rgb(232,110,182);
background: radial-gradient(circle, rgba(232,110,182,1) 0%, rgba(240,226,226,1) 100%);
    height: 70px;
    padding: 5px;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 0px 10px 13px -7px #000000a1, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000a1, 5px 5px 15px 5px rgba(0,0,0,0);
    position: sticky;
    top: 0;
    z-index: 100000;
  
    .img-logo{
        height: 50px;
        width: 35px;
    }
    .this{
        position: relative;
        .icona{
        top: 7px;
        left: 15px;
        position: absolute;
    }
    }
    .pointer{
        cursor: pointer;
    }

    #box{
        left: 85%;
        height: 100px;
        width: 100px;
        .img-raimbow{
            height: 100px;
            width: 100px;
        }
       
    }

    
}
.color{
    text-shadow: -4px 4px #ef3b35,
               -8px 8px #8ff4a5;
               
    margin-left: 15px;
    text-decoration: none;

               
          
}

