<div class="nav-principale">
  
    
      <a [routerLink]="['/']" class="logo col-4">
        <img class="ciao" src="../../../assets/img/cat.png" alt="">
      </a>

      <div class="col-4 this"><div class="icona"><i class="bi bi-binoculars"></i></div><input type="text"  [(ngModel)]="testoRicerca" name="testoRicerca" class="ps-5 form-control" placeholder="Cerca"/> <button (click)="ricerca()">Cerca</button></div>
      
      <div class="nav-link col-4 text-end">
        <div id="box" class="gradient-border"><a [routerLink]="['/profilo-utente']"><img class=" img-raimbow" src="../../../assets/img/foto-prof.jpg" alt="Foto-profilo"srcset=""/></a></div>
        
        <a  class="text-end  ms-5 pointer" (click)="mostraOpzioni()"><i class="bi bi-three-dots-vertical"></i></a>
      </div>
   
    </div>
    
    <div  class="opzioni text-end">
     
        <a href= "mailto:cagnotto.f@gmail.com"class="btn rosa" >Scrivici</a>
        <button class="btn rosa" (click)="esci()">Logout</button>
     
      
      
    </div>