<div class="flex-cop">
<div class="copertina "  >
    <div class="gradient-border"id="box"><img src="../../assets/img/foto-prof.jpg"   class="img-raimbow" alt=""></div>
   <div class="nuovo">
    <a href="" class="raimbow"> Crea nuovo Post <i class="bi bi-file-earmark-plus"></i></a>
    <a href="" class="raimbow">Aggiungi foto <i class="bi bi-camera"></i></a>
    <a href="" class="raimbow">Aggiungi link <i class="bi bi-link-45deg"></i></a>
   </div>
    </div>
</div>




<div class="flex">
    <div class="card-p p-1">
        <div class="header-card ">
            <img  class="img-profilo" src="../assets/img/logo.png" alt="" srcset="">
            <h5>Nome-Utente</h5>
            <a href=""><i class="bi bi-three-dots-vertical"></i></a>
        </div>
        <div class="spaziale"></div>
        <div class="main-card">
            <h6>Titolo post</h6>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo qui nam cum facilis laudantium commodi iure, deleniti reprehenderit vero non impedit. Quisquam illum atque tenetur eaque modi doloribus, nisi eum.</p>
        </div>
        <div class="spaziale"></div>
        <div class="footer-card">
            <a href=""> Like <i class="bi bi-hand-thumbs-up"></i></a>
            <a href=""> Commenta</a>
        </div>

    </div>

    <div class="card-p p-1">
        <div class="header-card ">
            <img  class="img-profilo" src="../assets/img/logo.png" alt="" srcset="">
            <h5>Nome-Utente</h5>
            <a href=""><i class="bi bi-three-dots-vertical"></i></a>
        </div>
        <div class="spaziale"></div>
        <div class="main-card">
            <h6>Titolo post</h6>
            <div class="flex"><img  class="img-card" src="../assets/img/logo.png" alt="" srcset=""></div>
            
        </div>
        <div class="spaziale"></div>
        <div class="footer-card">
            <a href=""> Like <i class="bi bi-hand-thumbs-up"></i></a>
            <a href=""> Commenta</a>
        </div>

    </div>
</div>


<div id="aside">
    <div class="flex1">
        <i class="bi bi-instagram"></i> <a href="https://www.instagram.com/o_perrocho/"> <h6>Profilo Instagram</h6></a>
    </div>
    <div class="flex1">
        <i class="bi bi-facebook"></i><a href=""> <h6  >Facebook</h6></a>
    </div>
    <div class="flex1">
        <i class="bi bi-twitter"></i> <a href=""> <h6  >Twitter</h6></a>
    </div>
    <div class="flex1">
        <i class="bi bi-envelope"></i> <a href=""> <h6  >Contattami</h6></a>
    </div>
    <div class="flex1">
        <i class="bi bi-youtube"></i> <a href=""> <h6  >Youtube</h6></a>
    </div>
</div>