
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 10px;


.card-p{
    
    // height: auto;
    width: 35vw;
    background-color: white;
    // background: rgb(179,178,178);
    // background: -moz-linear-gradient(0deg, rgba(179,178,178,1) 0%, rgba(255,248,248,1) 100%);
    // background: -webkit-linear-gradient(0deg, rgba(179,178,178,1) 0%, rgba(255,248,248,1) 100%);
    // background: linear-gradient(0deg, rgba(179,178,178,1) 0%, rgba(255,248,248,1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b3b2b2",endColorstr="#fff8f8",GradientType=1);
    border-radius: 5px;
    margin: 5px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000a1, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000a1, 5px 5px 15px 5px rgba(0,0,0,0);
}
.position{
    position: fixed;
    top: 30vh;
    right: 15px;
    width: 20vw;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 50vh;
    padding: 5%;
    
    margin: 0;
    .modFot{
        height: 20vh;
        border-radius: 10px;
    }
    
}
.modFot{
    border-radius: 15px;
    // height: 350px;
    // width: 350px;
}
}
.header-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-card{
    display: flex;
    flex-direction: column;
}
.img-profilo{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}
.spaziale{
    border-bottom: 1px solid rgba(0,0,0,0.44);
    border-radius: 7px;
    margin: 5px;
}
.spaziale1{
   
    margin: 5px;
}
.img-card{
    height: 150px;
    width: 100px;
}
.footer-card{
    display: flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    &:hover {
            animation: colorRotate 2s linear 0s infinite;
      }
}
.coloreInvia{
    background-color: rgb(237, 134, 251);
}
.grosse{
    font-size: 1.1rem;
    font-weight: bold;
    color: red;
}
.puntatore{
    cursor: pointer;
    font-size: 1.4rem;
    
}
input, textarea{
    border: 1px solid rgb(237, 134, 251);
}
i{
    font-size: 1.1rem;
    color: rgb(237, 134, 251);
    &:hover {

        animation: colorRotate 2s linear 0s infinite;
      }
}
.nero{
    color: gray;
    text-align: right;
    font-style: italic;
}

@keyframes colorRotate {
    from {
      color: #6666ff;
    }
    10% {
      color: #0099ff;
    }
    50% {
      color: #b300ff;
    }
    75% {
      color: #ff3399;
    }
    100% {
      color: #6666ff;
    }
  }
  .bordo{
    border: 1px solid rgb(237, 134, 251);
    margin-bottom: 3px;
    border-radius: 5px;
}
.flexcomm{
    display: flex;
    flex-direction: row-reverse;
  }
  .lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  