<div class="flex">
  <!-- <div class="card-p p-1">
        <div class="header-card ">
            <img  class="img-profilo" src="../assets/img/logo.png" alt="" srcset="">
            <h5>Nome-Utente</h5>
            <a href=""><i class="bi bi-three-dots-vertical"></i></a>
        </div>
        <div class="spaziale"></div>
        <div class="main-card">
            <h6>Titolo post</h6>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo qui nam cum facilis laudantium commodi iure, deleniti reprehenderit vero non impedit. Quisquam illum atque tenetur eaque modi doloribus, nisi eum.</p>
        </div>
        <div class="spaziale"></div>
        <div class="footer-card">
            <a href=""> Like <i class="bi bi-hand-thumbs-up"></i></a>
            <a href=""> Commenta</a>
        </div>

    </div>

    <div class="card-p p-1">
        <div class="header-card ">
            <img  class="img-profilo" src="../assets/img/logo.png" alt="" srcset="">
            <h5>Nome-Utente</h5>
            <a href=""><i class="bi bi-three-dots-vertical"></i></a>
        </div>
        <div class="spaziale"></div>
        <div class="main-card">
            <h6>Titolo post</h6>
            <div class="flex"><img  class="img-card" src="../assets/img/logo.png" alt="" srcset=""></div>
            
        </div>
        <div class="spaziale"></div>
        <div class="footer-card">
            <a href=""> Like <i class="bi bi-hand-thumbs-up"></i></a>
            <a href=""> Commenta</a>
        </div> -->

  <!-- </div> -->
  <!-- -->
  <div class="card-p p-1" *ngFor="let post of home">
    <div class="header-card">
      <img class="img-profilo" src="../assets/img/logo.png" alt="" srcset="" />
      <h4>{{ post.author }}</h4>
      <div *ngIf="user?.user?.id == post.authorNumero">
        <a><i class="bi bi-three-dots-vertical"></i></a>
      </div>
    </div>
    <div class="spaziale"></div>
    <div class="main-card">
      <h5>{{ post.title }}</h5>
      <img
        *ngIf="post.fotografia"
        class="m-auto"
        src="http://{{post.fotografia}}"
        alt=""
      />
      <div *ngIf="post.linko" >  {{post.linko}} </div>
      <p>{{ post.body }}</p>
      <!-- <iframe *ngIf="post.link" width="450" height="315" src="{{post.link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br> -->
      <i> {{ post.date }}</i>
    </div>
    <div class="spaziale"></div>
    <div class="footer-card">
      <a href=""> Like <i class="bi bi-hand-thumbs-up"></i></a>
      <a href=""> Commenta</a>
    </div>
  </div>
</div>
