
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 10px;


.card-p{
    
    height: auto;
    width: 25vw;
    background: rgb(179,178,178);
    background: -moz-linear-gradient(0deg, rgba(179,178,178,1) 0%, rgba(255,248,248,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(179,178,178,1) 0%, rgba(255,248,248,1) 100%);
    background: linear-gradient(0deg, rgba(179,178,178,1) 0%, rgba(255,248,248,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b3b2b2",endColorstr="#fff8f8",GradientType=1);
    border-radius: 5px;
    margin: 5px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000a1, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000a1, 5px 5px 15px 5px rgba(0,0,0,0);
}
.position{
    position: fixed;
    top: 50vh;
    right: 15px;
    width: 20vw;
    height: auto;
    margin: 0;
    
}
}
.header-card{
    display: flex;
    justify-content: space-between;
}
.main-card{
    display: flex;
    flex-direction: column;
}
.img-profilo{
    height: 30px;
    width: 20px;
}
.spaziale{
    border-bottom: 1px solid rgba(0,0,0,0.44);
    border-radius: 7px;
    margin: 5px;
}
.img-card{
    height: 150px;
    width: 100px;
}
.footer-card{
    display: flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: black;
}