<div class="flex">
  <!-- <div class="card-p p-1">
        <div class="header-card ">
            <img  class="img-profilo" src="../assets/img/logo.png" alt="" srcset="">
            <h5>Nome-Utente</h5>
            <a href=""><i class="bi bi-three-dots-vertical"></i></a>
        </div>
        <div class="spaziale"></div>
        <div class="main-card">
            <h6>Titolo post</h6>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo qui nam cum facilis laudantium commodi iure, deleniti reprehenderit vero non impedit. Quisquam illum atque tenetur eaque modi doloribus, nisi eum.</p>
        </div>
        <div class="spaziale"></div>
        <div class="footer-card">
            <a href=""> Like <i class="bi bi-hand-thumbs-up"></i></a>
            <a href=""> Commenta</a>
        </div>

    </div>

    <div class="card-p p-1">
        <div class="header-card ">
            <img  class="img-profilo" src="../assets/img/logo.png" alt="" srcset="">
            <h5>Nome-Utente</h5>
            <a href=""><i class="bi bi-three-dots-vertical"></i></a>
        </div>
        <div class="spaziale"></div>
        <div class="main-card">
            <h6>Titolo post</h6>
            <div class="flex"><img  class="img-card" src="../assets/img/logo.png" alt="" srcset=""></div>
            
        </div>
        <div class="spaziale"></div>
        <div class="footer-card">
            <a href=""> Like <i class="bi bi-hand-thumbs-up"></i></a>
            <a href=""> Commenta</a>
        </div> -->

  <!-- </div> -->
  <!-- -->
  <div class="card-p p-1" *ngFor="let post of home">
    <div class="header-card p-1">
      <!-- TODO -->
      <!-- mettere cerchietto alle foto --> <div class="header-card"><img class="img-profilo" src="../../assets/img/foto-prof.jpg" alt="" srcset="" />
      <h4 class="ms-2 mt-2">{{ post.author }}</h4></div>
      
      <div *ngIf="user?.user?.id == post.authorNumero">
        <a (click)="opzioniPost(post)"><i class="bi bi-three-dots-vertical"></i></a>
      </div>
      <div *ngIf="user?.user?.id != post.authorNumero">
        <a (click)="opzioniPost(post)"><i class="bi bi-eyeglasses"></i></a>
      </div>

    </div>
    <div class="spaziale1"></div>
    <div class="main-card p-3">
      <h4>{{ post.title }}</h4>
      <p>{{ post.body }}</p>
      <img
        *ngIf="post.fotografia"
        [src]="post.fotografia"
        class="modFot"
      />
      <!-- <div *ngIf="post.linko" >  <iframe width="560" height="315" [src]="post.linko" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </div> -->
      
      
      <i> {{ post.date }}</i>
    </div>
    <div class="spaziale"></div>
    <div class="footer-card">
      <a (click)="like(post)" *ngIf="tiPiace"> {{post.likedBy.length}}<i class="bi bi-heart-fill ms-2 grosse"></i></a>
      <a (click)="like(post)" *ngIf="!tiPiace"> {{post.likedBy.length}}<i class="bi bi-heart ms-2 grosse"></i></a>
      <a (click)="getCommenti(post);  addComment=false">{{post.comment.length}}<i class="bi bi-chat-text ms-2 grosse"></i> </a>
    </div>
    <!-- <div  *ngIf="commenta">
      <div *ngFor="let comm of c"><span  ><b>{{comm.autore}}</b>:{{comm.testo}}</span>
      </div>
      
    </div> -->
    <!-- <div *ngIf="commenta"> <button (click)="comment(post)" class="btn btn-light">Aggiungi Commento</button></div>
    <div *ngIf="addComment"> 
      <label for="">{{commento.autore}}:</label>
      <input type="text" [(ngModel)]="commento.testo" placeholder="Scrivi commento">
      <button class="btn btn-light" (click)="inviaCommento(post)">Invia</button>
      
    </div> -->
    
  </div>
  <!-- TODO -->
  <!-- levare tasto aggiungi commenti, numero commenti -->
  <div  *ngIf="commenta" class="card-p position p-1">
      <div *ngFor="let comm of c" class="px-1"><span  m-2><b>{{comm.autore}}</b>: {{comm.testo}}</span>
        <div class="spaziale"></div>
      </div>
      
      <div > <button (click)="comment(comPost)" class="btn coloreInvia">Aggiungi Commento</button></div>
      <div *ngIf="addComment"> 
        <label for="">{{commento.autore}}:</label>
        <input type="text" [(ngModel)]="commento.testo" placeholder="Scrivi commento" class="form-control">
        <button class="btn coloreInvia" (click)="inviaCommento(comPost)">Invia</button>
    </div>
     
    </div>

  



  <!-- OPZIONI/VISUALIZZA -->




  <div *ngIf="opzPost" class="card-p position p-1"> <div class="header-card">
      <img class="img-profilo" src="../assets/img/logo.png" alt="" srcset="" />
      <h4>{{ postMod.author }}</h4>
      <div >
        <a (click)="opzPost=false"><i class="bi bi-x-circle"></i></a>
      </div>
      

    </div>
    <div class="spaziale"></div>
    <div class="main-card">
      <h5>{{ postMod.title }}</h5>
      <img
        *ngIf="postMod.fotografia"
        [src]="postMod.fotografia"
        class="modFot"
      />
      <div *ngIf="postMod.linko" >  {{postMod.linko}} </div>
      <p>{{ postMod.body }}</p>
      <!-- <iframe *ngIf="post.link" width="450" height="315" src="{{post.link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br> -->
      <i> {{ postMod.date }}</i>
    </div>
    <div class="spaziale"></div>
    <div class="footer-card" *ngIf="user?.user?.id == postMod.authorNumero">
      <a  (click)="modificaPost()"> Modifica</a>
      <a (click)="eliminaPost(postMod.id)"> Elimina</a>
    </div> 
  </div>



  <!-- MODIFICA -->


  
  <div *ngIf="modifica" class="card-p position p-1"> <div class="header-card">
    <img class="img-profilo" src="../assets/img/logo.png" alt="" srcset="" />
    <h4>{{ postMod.author }}</h4>
    <div *ngIf="user?.user?.id == postMod.authorNumero">
      <a (click)="modifica=false"><i class="bi bi-x-circle"></i></a>
    </div>
    

  </div>
  <div class="spaziale"></div>

<!-- <form   > -->
  <div class="main-card">
      
    <label for="">Modifica titolo:</label>
    <input type="text" value="{{postMod.title}}" [(ngModel)]="upPost.title" class="form-control">

    <label *ngIf="postMod.fotografia" for="">Modifica foto:</label>
    <input type="text" *ngIf="postMod.fotografia" value="{{postMod.fotografia}}" [(ngModel)]="upPost.fotografia" class="form-control">

    <label *ngIf="postMod.linko" for="">Modifica Link:</label>
    <input type="text" *ngIf="postMod.linko" value="{{postMod.linko}}" [(ngModel)]="upPost.linko" class="form-control"> 

    <label for="">Modifica Corpo:</label>
    <textarea class="form-control"[(ngModel)]="upPost.body"> </textarea>
    
    <i> {{ postMod.date }}</i>
  </div>


  <div class="spaziale"></div>
  <div class="footer-card" *ngIf="user?.user?.id == postMod.authorNumero">
    <a (click)="updatePostino(upPost, postMod.id)" >Salva post</a>
    <a  (click)="annulla()" >Annulla modifiche</a>
    
  </div> 
<!-- </form> -->
  
</div>

</div>

