<div class="flex">
    <div class="card-p p-1">
        <div class="header-card ">
            <img  class="img-profilo" src="../../assets/img/stella.png" alt="" srcset="">
            <h5>Utente-Vip</h5>
            <a href=""><i class="bi bi-three-dots-vertical"></i></a>
        </div>
        <div class="spaziale"></div>
        <div class="main-card">
            <h6>Titolo post</h6>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo qui nam cum facilis laudantium commodi iure, deleniti reprehenderit vero non impedit. Quisquam illum atque tenetur eaque modi doloribus, nisi eum.</p>
        </div>
        <div class="spaziale"></div>
        <div class="footer-card">
            <a href=""> Like <i class="bi bi-hand-thumbs-up"></i></a>
            <a href=""> Commenta</a>
        </div>

    </div>

    <div class="card-p p-1">
        <div class="header-card ">
            <img  class="img-profilo" src="../../assets/img/stella.png" alt="" srcset="">
            <h5>Utente-Vip</h5>
            <a href=""><i class="bi bi-three-dots-vertical"></i></a>
        </div>
        <div class="spaziale"></div>
        <div class="main-card">
            <h6>Titolo post</h6>
            <div class="flex"><img  class="img-card" src="../../assets/img/lucchetto.png" alt="" srcset=""></div>
            
        </div>
        <div class="spaziale"></div>
        <div class="footer-card">
            <a href=""> Like <i class="bi bi-hand-thumbs-up"></i></a>
            <a href=""> Commenta</a>
        </div>

    </div>
</div>