.aside{
    position: fixed;
    background-color: white;
    height: 190px;
    width: 20vw;
    top: 100px;
    left: 15px;
    border-radius: 5px;
    padding: 1%;
    -webkit-box-shadow: 0px 10px 13px -7px #000000a1, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000a1, 5px 5px 15px 5px rgba(0,0,0,0);
    .img-raimbow{
        height: 50px;
        width: 50px;
    }
    #box{
        height: 50px;
        width: 50px;
    }
    .flex{
        display: flex;
        justify-content: space-between;
    }
}

#asideNew{
    width: 30vw;
    top: 25vh;
    height: auto;
    left: 35vw;
    z-index: 102;
}
.grande{
  height: 10rem;
}
a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;

&:hover {
    
   
    
    
   
    animation: colorRotate 2s linear 0s infinite;
  }
  
  @keyframes colorRotate {
    from {
      color: #6666ff;
    }
    10% {
      color: #0099ff;
    }
    50% {
      color: #b300ff;
    }
    75% {
      color: #ff3399;
    }
    100% {
      color: #6666ff;
    }
  }
}
.colorino{
 background-color: rgb(237, 134, 251);
 &:hover {
  animation: colorRotate 2s linear 0s infinite;
}
}
#blur{
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  z-index: 101;
}
.chiudi{
  cursor: pointer;
  font-size: 1.7rem;
  color: rgb(237, 134, 251);
  &:hover {
    animation: colorRotate 2s linear 0s infinite;
  }
}