<div class="aside">
    
    <div class="flex">
    <div id="box" class="gradient-border"><img  class="img-raimbow" [routerLink]="['/profilo-utente']" src="../../../assets/img/foto-prof.jpg"  alt=""> </div> <div></div> <a [routerLink]="['/profilo-utente']"> <h6  >Nome Cognome</h6></a>
    </div><br><hr>
    <div class="flex">
        <i class="bi bi-file-earmark-plus"></i> <a href=""> <h6  >Scrivi post</h6></a>
    </div>
    <div class="flex">
        <i class="bi bi-camera"></i> <a href=""> <h6  >Carica foto</h6></a>
    </div>
    <div class="flex">
        <i class="bi bi-link-45deg"></i> <a href=""> <h6  >Posta video</h6></a>
    </div>
    
</div>