
<div id="blur" *ngIf="modalNuovoPost || modalNuovoLink || modalNuovoPh"></div>

<div class="aside">
  <div class="flex">
    <div id="box" class="gradient-border">
      <img
        *ngIf="user"
        class="img-raimbow"
        [routerLink]="['/profilo-utente']"
        src="../../../assets/img/foto-prof.jpg"
        alt=""
        (click)="utenteId()"
        [routerLink]="['/profilo-utente']" 
      />
      <img
        *ngIf="!user"
        class="img-raimbow"
        [routerLink]="['/profilo-utente']"
        src="../../../assets/img/logo.png"
        alt=""
        (click)="utenteId()"
        [routerLink]="['/profilo-utente']" 
      />
    </div>
    <div></div>
    <a [routerLink]="['/profilo-utente']" (click)="utenteId()">
      <h6 *ngIf="!user">Accedi per continuare</h6>
      <h6 *ngIf="user">{{ user.user.name }} {{ user.user.surname }}</h6></a
    >
  </div>
  <br />
  <hr />
  <div class="flex">
    <i class="bi bi-file-earmark-plus pointer" (click)="nuovoOn()" ></i>
    <a (click)="nuovoOn()"> <h6>Scrivi post</h6></a>
  </div>
  <div class="flex">
    <i class="bi bi-camera" (click)="nuovoPh()"></i>
    <a (click)="nuovoPh()"> <h6>Carica foto</h6></a>
  </div>
  <div class="flex">
    <i class="bi bi-link-45deg" (click)="nuovoLink()"></i>
    <a (click)="nuovoLink()"> <h6>Posta video</h6></a>
  </div>
</div>

<div class="aside" id="asideNew" *ngIf="modalNuovoPost">
  <div class="flex"><h2>Crea Post:</h2><i (click)="modalNuovoPost=false" class="chiudi bi bi-x-circle-fill"></i></div>
  <form action="" [formGroup]="form" (ngSubmit)="creaNuovo()">
    <label for="">Titolo:</label>
    <input type="text" class="form-control" formControlName="title" />
    <label for="">Testo:</label>
    <textarea class="form-control grande" formControlName="body"></textarea>

    <div class="text-end">
      <button class="btn btn-light mt-3 colorino" type="submit">Crea post</button>
    </div>
  </form>
</div>

<div class="aside" id="asideNew" *ngIf="modalNuovoPh">
  <div class="flex"><h2>Crea Post:</h2><i (click)="modalNuovoPh=false" class="chiudi bi bi-x-circle-fill"></i></div>
  <form action="" [formGroup]="form" (ngSubmit)="creaNuovoPh()">
    <label for="">Titolo:</label>
    <input type="text" class="form-control" formControlName="title" />
    <label for="">link Foto:</label>
    <input type="text" class="form-control" formControlName="fotografia" />
    <label for="">Testo:</label>
    <textarea class="form-control grande" formControlName="body"></textarea>

    <div class="text-end">
      <button class="btn btn-light mt-3 colorino" type="submit">Crea post</button>
    </div>
  </form>
</div>

<div class="aside" id="asideNew" *ngIf="modalNuovoLink">
  <div class="flex"><h2>Crea Post:</h2><i (click)="modalNuovoLink=false" class="chiudi bi bi-x-circle-fill"></i></div>
  <form action="" [formGroup]="form" (ngSubmit)="creaNuovoLink()">
    <label for="">Titolo:</label>
    <input type="text" class="form-control" formControlName="title" />
    <label for="">link Youtube:</label>
    <input type="text" class="form-control" formControlName="linko" />
    <label for="">Testo:</label>
    <textarea class="form-control grande" formControlName="body"></textarea>

    <div class="text-end">
      <button class="btn btn-light mt-3 colorino" type="submit">Crea post</button>
    </div>
  </form>
</div>
