#reg-log{
    position: absolute;
    background-color: white;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a4aac1",endColorstr="#e6dfdf",GradientType=1);
    // height: 50vh;
    width: 100vw;
    // height: 100vh;
    top: 0px;
    left: 0vw;
    border-radius: 5px;
    padding: 10%;
    -webkit-box-shadow: 0px 10px 13px -7px #000000a1, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000a1, 5px 5px 15px 5px rgba(0,0,0,0);
}
.btn{
    background-color: rgb(237, 134, 251);
}