
<div id="reg-log">
    <div id="log">
        <h3>Log-in</h3>
        <label for="email1">Inserisci una Email valida</label>
            <input type="email" name="email" class="form-control" id="email1" placeholder="pippo_pippatore@gmail.com" [(ngModel)]="authLogin.email">
            <label for="password1">Crea una password</label>
            <input type="password" name="password" class="form-control" id="password1" placeholder="*************" [(ngModel)]="authLogin.password">
            <button class="btn btn-light mt-3" (click)="entra()" [disabled]="carico" >Log-in</button>
    </div>
    <hr>
    <div id="reg">
        <h3>Registrati</h3>
        <form action="">
            <label for="email">Inserisci una Email valida</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="pippo_pippatore@gmail.com" [(ngModel)]="authUser.email">
            <label for="password">Crea una password</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="*************" [(ngModel)]="authUser.password">
            <label for="nome">Inserisci il tuo Nome</label>
            <input type="text" name="name" class="form-control" id="Nome" placeholder="Pippo" [(ngModel)]="authUser.name">
            <label for="cognome">Inserisci il tuo cognome</label>
            <input type="text" name="surname" class="form-control"  id="cognome" placeholder="Baudo" [(ngModel)]="authUser.surname">
            <label for="username">Inserisci il tuo username</label>
            <input type="text" name="username" class="form-control" id="username" placeholder="yt_pippo_baudo_baudinatorTV" [(ngModel)]="authUser.username">
            <input type="checkbox" value="true" name="vipmember" id="vip" class="validation-form" [(ngModel)]="authUser.vipmember">
            <label for="vip">Desideri un'account vip?</label><br>
            <button class="btn btn-light mt-3" (click)="registrati()"> Registrati</button>

        </form>

    </div>

    
</div>