<div class="flex">


    <div class="card-p p-1">
        <div class="header-card ">
            <img  class="img-profilo" src="../../assets/img/esclamativo.png" alt="" srcset="">
            <h5>ATTENZIONE!</h5>
            <img  class="img-profilo" src="../../assets/img/esclamativo.png" alt="" srcset="">
        </div>
        <div class="spaziale"></div>
        <div class="main-card">
            <h6 class="p-1">Il seguente contenuto potrebbe contenere del materiale sensibile, e quindi destinato ad un pubblico di soli adulti, Cliccando sul tasto procedi dichiari di aver compiuto la maggiore età. <br> Sei sicuro di voler procedere?</h6>
            <div class="flex"><img  class="img-card" src="../../assets/img/logo.png" alt="" srcset=""></div>
            
        </div>
        <div class="spaziale"></div>
        <div class="footer-card">
            <a [routerLink]="['/private-zone']"> Prosegui</a>
            <a [routerLink]="['/']"> Torna alla Home</a>
        </div>

    </div>
</div>